requests
certifi
pyotp
numpy>=1.23
pandas>=1.5
matplotlib>=3.7
plotly>=6.0
scipy>=1.9
scikit-learn>=1.1
openpyxl>=3.1.0
arch>=4.19
statsmodels>=0.13
cvxpy>=1.2
pyportfolioopt>=1.5
mStock-TradingApi-B>=1.0.0
pytz>=2023.3
python-dotenv>=1.0.0
reportlab>=4.2.0
streamlit>=1.58.0
sv-ttk>=2.6.0
yfinance>=0.2.0
